# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio cache/options directory
.vs/

# User-specific files
*.user
*.userosscache
*.suo

# Build artifacts
*.dll
*.exe
*.pdb
*.cache
*.props
*.targets
*.editorconfig
*.json
!.github/*.json
!src/*.csproj
!src/TaskTracker-CLI.csproj
